#BannerContainer{
  font-family: Helvetica;
  color: white;
  font-weight: 400;
}

#BannerContainer h1 {
  font-size: 48px;
  line-height: 125%;
  width: 600px;
}

#BannerContainer p {
  font-size: 18px;
  line-height: 150%;
  width: 500px;

}

#BannerContainer button {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#BenefitsBanner {
  display: flex;
  align-items: center;
  background-color: #e6e7ea;
  
  .benefits-banner-items{
    display: flex;
    gap: 80px;
  }

  .benefits-item{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
  }
}

.benefits-banner-header h2{
    font-size: 32px;
    line-height: 125%;
    font-family: Helvetica;
}

.benefits-banner-header p{
  font-size: 18px;
}


.benefits-banner-items h4 {
  font-size: 18px;
}


.benefits-banner-items h5 {
  font-size: 16px;
  color: #69717f;;
}


#FeaturesContainer {

.feature-item{
  display: flex;
}
}


#FeaturesContainer{

  .features-container-inner{
    display: flex;
  }

}