#BannerContainer{
  font-family: Helvetica;
  color: white;
  font-weight: 400;
}

#BannerContainer h1 {
  font-size: 48px;
  line-height: 125%;
  width: 600px;
}

#BannerContainer p {
  font-size: 18px;
  line-height: 150%;
  width: 500px;

}

#BannerContainer button {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#BenefitsBanner {
  display: flex;
  align-items: center;
  background-color: #e6e7ea;
  padding: 5% 0  0 0;
  
  .benefits-banner-items{
    display: flex;
    gap: 80px;
  }

  .benefits-item{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
  }
}

.benefits-banner-header h2{
    font-size: 32px;
    line-height: 125%;
    font-family: Helvetica;
}

.benefits-banner-header p{
  font-size: 18px;
}


.benefits-banner-items h4 {
  font-size: 18px;
}


.benefits-banner-items h5 {
  font-size: 16px;
  color: #69717f;;
}


#FeaturesContainer {
margin: 0 5%;
padding: 5% 0 5% 0;


.feature-item{
  display: flex;
  gap: 20px;

}
.features-container-inner{
  display: flex;
}
}

#FeaturesContainer h2 {
  margin: unset;
  padding: 50px 5px;
}

.button-blue{
  background-color: rgba(25,90,180);
  border-radius: 4px;
  border-color: rgb(255,255,255);
  border-style: solid;
  border-width: 0.8px;
  margin-top: 20px;
  color: rgb(255,255,255);
  cursor: pointer;
  padding: 11px 15px;
}



#BecomeCostumer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0 0 0;

  .become-costumer-title{
    gap: 20px;
  }

  .become-costumer-content div {
    display: flex;
    align-items: center;
    gap: 20px;

  }

}


ol > li {
  display: flex;
  align-items: center;
  gap: 20px;
}

ol {
  padding-inline-start: 0;
}


li {
 position: relative;
}

li > span:nth-child(1) {
  display: flex;
  border: 1px solid  #b1d2ff;
  background-color: #b1d2ff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}
li > span:nth-child(2) {

  content: "";
  position: absolute;
  background-color: #b1d2ff;
  height: 28px;
  width: 2px;
  left: 12px;
  top: 36px;
}

#Questions {
  padding: 5%;
}

#Questions > div > div {
  display: flex;
  justify-content: space-between;
}

.content {
  color: red;
  display: none;
}
