#BannerContainer{
  font-family: Helvetica;
  color: white;
  font-weight: 400;
}

#BannerContainer h1 {
  font-size: 48px;
  line-height: 125%;
  width: 600px;
}

#BannerContainer p {
  font-size: 18px;
  line-height: 150%;
  width: 500px;

}

#BannerContainer button {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#BenefitsBanner {
  display: flex;
  align-items: center;
  background-color: #e6e7ea;
  padding: 5% 0  0 0;
  font-family: Helvetica;
  
  .benefits-banner-items{
    display: flex;
    gap: 80px;
  }

  .benefits-item{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
  }
}

.benefits-banner-header h2{
    font-size: 32px;
    line-height: 125%;
    font-family: Helvetica;
}

.benefits-banner-header p{
  font-size: 18px;
}


.benefits-banner-items h4 {
  font-size: 18px;
}


.benefits-banner-items h5 {
  font-size: 16px;
  color: #69717f;;
}


#FeaturesContainer {
margin: 0 5%;
padding: 5% 0 5% 0;
font-family: Helvetica;


.feature-item{
  display: flex;
  gap: 20px;

}
.features-container-inner{
  display: flex;
}
}

#FeaturesContainer h2 {
  margin: unset;
  padding: 50px 5px;
}

.button-blue{
  background-color: rgba(25,90,180);
  border-radius: 4px;
  border-color: rgb(255,255,255);
  border-style: solid;
  border-width: 0.8px;
  margin-top: 20px;
  color: rgb(255,255,255);
  cursor: pointer;
  padding: 11px 15px;
}



#BecomeCostumer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0 0 0;
  font-family: Helvetica;


  .become-costumer-title{
    gap: 20px;
  }

  .become-costumer-content div {
    display: flex;
    align-items: center;
    gap: 20px;

  }

}


ol > li {
  display: flex;
  align-items: center;
  gap: 20px;
}

ol {
  padding-inline-start: 0;
}


li {
 position: relative;
}

li > span:nth-child(1) {
  display: flex;
  border: 1px solid  #b1d2ff;
  background-color: #b1d2ff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

li > span:nth-child(2) {

  content: "";
  position: absolute;
  background-color: #b1d2ff;
  height: 28px;
  width: 2px;
  left: 12px;
  top: 36px;
}


#DoMoreForYourBusiness {
  padding: 5%;
  background-color: #e6e7ea;
  height: 900px;
  font-family: Helvetica;


  .domore-innertext{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
  }

  .domore-innertext > div:nth-child(1) {
    width: 40%;
  }

  .domore-innertext > div > div  {
    display: flex;
    justify-content: space-evenly;
  }

  .domore-benefit{
    display: flex;
    gap: 5px;
  }

  .domore-cards {
    display: flex;
    gap: 10px;

  }

  .card {
    font: Verdana;
    width: 30%;
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    padding: 10px;
  }

  .price {
    background-color: #b1d2ff;
    border-radius: 20px;
    padding: 8px;
    width: max-content;
  }
  .card-content-item{
    display: flex;
    gap: 5px;
  }

  .open-benefit{
    display: flex;
    justify-content: space-between;
  }

  .hidden-benefit{
    display: none;
  }
}




#Questions {
  padding: 5%;
  background-color: white;
  font-family: Helvetica;


  .button-questions{
    border-radius: 5px;
    padding: 11px 15px;
    border-width: 0.8px;
    cursor: pointer;
    margin-top: 40px;
  }
}

#Questions > h2 {
  margin-bottom: 50px;
}

#Questions > div > div {
  display: flex;
  justify-content: space-between;
}

#Questions > div > div {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

}

#Questions > div > span {
  content: "";
  position: absolute;
  background-color: #00000033;
  left: 79px;
  width: 1355px;
  height: 2px;

}

.collapsible {
  cursor: pointer;
}

.content-question {
  display: none;
  /* transition: all 1s ease; */
}

.content-question-animation {
  display: block;
  }
